# Load necessary Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Load the data

In [2]:
data = pd.read_csv(r'https://raw.githubusercontent.com/edyoda/DS31032023/main/Machine%20Learning/August/18-8-2023/Assignment/titanic.csv')
data.head()

,PassengerID,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# Missing Value Treatment

In [3]:
data.shape

(891, 16)

## Check the total missing value per column in the data.

In [4]:
data.isnull().sum()

PassengerID      0
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

## Check the percentage missing value per column in the data

In [5]:
data.isnull().sum()/len(data)*100

PassengerID     0.000000
survived        0.000000
pclass          0.000000
sex             0.000000
age            19.865320
sibsp           0.000000
parch           0.000000
fare            0.000000
embarked        0.224467
class           0.000000
who             0.000000
adult_male      0.000000
deck           77.216611
embark_town     0.224467
alive           0.000000
alone           0.000000
dtype: float64

## Delete the columns with more than 30% missing values.

- deck column is having 77.21% missing values. Hence drop the 'deck' column from the data.

In [6]:
data = data.drop('deck', axis=1)
data.head()

,PassengerID,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True

## Perform median imputation for all the numerical columns(use both fillna() and sklearn impute)

In [7]:
data_na = data.copy()
data_na.head()

,PassengerID,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True

### Using fillna() function

In [8]:
data_na['age'] = data_na['age'].fillna(data_na['age'].median())
data_na.isnull().sum()

PassengerID    0
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    2
alive          0
alone          0
dtype: int64

### Using sklearn library

In [9]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy = 'median')
si

SimpleImputer(strategy='median')

In [10]:
data['age'] = si.fit_transform(data[['age']])
data.isnull().sum()

PassengerID    0
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    2
alive          0
alone          0
dtype: int64

## Perform mode imputation for all the categorical columns(use both fillna() and sklearn impute)

- 'embarked' and 'embark_town' are having missing values in categorical data.

### Using fillna() function

In [11]:
data_na['embarked'] = data_na['embarked'].fillna(data_na['embarked'].mode()[0])
data_na['embark_town'] = data_na['embark_town'].fillna(data_na['embark_town'].mode()[0])
data_na.isnull().sum()

PassengerID    0
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

### Using sklearn library

In [12]:
from sklearn.impute import SimpleImputer
si_imp = SimpleImputer(strategy = 'most_frequent')
si_imp

SimpleImputer(strategy='most_frequent')

In [13]:
data[['embarked','embark_town']] = si_imp.fit_transform(data[['embarked','embark_town']])
data.isnull().sum()

PassengerID    0
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64